<nav>
    <ul>
        <li><a href="/shop/shop" class="<%= path === 'shop' ? 'active' : '' %>">Shop</a></li>
        <li><a href="/shop/shop-products" class="<%= path === 'shop-products' ? 'active' : '' %>">Products</a></li>
        <li><a href="/shop/cart" class="<%= path === 'cart' ? 'active' : '' %>">Cart</a></li>
        <li><a href="/shop/orders" class="<%= path === 'orders' ? 'active' : '' %>">Orders</a></li>
        <li><a href="/admin/add-product" class="<%= path === 'add-product' ? 'active' : '' %>">Add Product</a></li>
        <li><a href="/admin/admin-products" class="<%= path === 'products' ? 'active' : '' %>">Admin Products</a></li>
    </ul>
</nav>
